body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 
nav ul li {
    background-color: aqua;
    border-radius: 25px;
    border: solid black 2px;
    display: inline-block;
    padding: 15px;
    width: 20%;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main img {
    box-sizing: border-box;
    width: 24%;
    padding: 15px;
    border: dashed red 5px;
    margin: 0px;
}